﻿@page
@model WebKazmirenkoStudio.Pages.Purchase.IndexModel

@{
    ViewData["Title"] = "Закупки";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Создать новую запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].Shop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase[0].PriceDelivery)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Purchase) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceDelivery)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Открыть</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>
